/****Base Styles****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D6E1F0;
    font-family: "Outfit";
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    padding: 30px 10px 10px 10px;
}

p {
    font-weight: 400;
    color: darkgrey;
    padding: 10px;
    font-size: 1em;
}




.content-wrapper {
    max-width: 320px;
    background-color: white;
    border-radius: 25px;
    padding: 23px 15px 18px 15px;
}



img {
    width: 100%;
    border-radius: 10px;
}
